.Home
{
    display: flex;
    margin:5vh 5vh 5vh 5vh;
    flex-direction: row;
    flex-grow:1;
    margin-top: 20vh;
    width: fit-content;
}
.DataCol
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 2vh;

}
.sideMenuTabs
{
    margin: 2vh 2vh 2vh 2vh;
    font-size: large;
    font-weight: bold;
    width: 30vw;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1vh 0vh 1vh 0vh;
    border-radius:2vh 10vh 10vh 2vh;
    
}
.sideMenuTabs:hover
{
    background-color: transparent;
    color: whitesmoke;
    cursor: pointer;
}
.sideMenuTabSelected
{
    background-color: transparent;
    color: whitesmoke;
    cursor: pointer;
}
.SideMenuHeaders
{
    background-color: red;

}
.Content
{
    flex-direction: row;
    background-color: white;
    width: fit-content;
}